@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  font-family: "Mulish", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

.contenedor-nav {
  width: 100%;
  background-color: rgba(8, 5, 5, 0.904);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  z-index: 22;
}

.logo-top {
  width: 20%;
}
.logo-top img {
  width: 100px;
}

.contenedor-nav nav {
  width: 40%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contenedor-nav nav a {
  font-size: 20px;
  color: #f57702;
  font-weight: 500;
  text-decoration: none;
  margin: 0px 12px;
  font-weight: 600;
}

.contenedor-nav nav a:hover {
  color: rgb(255, 255, 255);
}

.icon-cart {
  width: 20px;
}

.nav-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 5px;
}

.nav-cart:hover {
  background-color: white;
}

.cart-length {
  margin: 0 0 0 10px;
  font-size: 14px;
  font-weight: 600;
  padding: 3px 10px;
  background-color: #f57702;
  color: rgb(255, 255, 255);
  border-radius: 15px;
}

.non-header {
  padding-top: 100px;
}

/*product */

.center {
  display: flex;
  justify-content: center;
}
.container-products-home {
  margin: 40px 0;
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.product {
  width: 250px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: rgba(219, 219, 219, 0.267);
  box-shadow: 0px 2px 8px #00000029;
}
.product:hover {
  box-shadow: 2px 4px 10px #00000029;
  border: 1px solid rgba(87, 86, 86, 0.418);
}
.container-product-img {
  width: 100%;
  display: inline-block;
  position: relative;
}
.container-product-img img {
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.offer {
  display: flex;
  justify-content: space-evenly;
}
.none {
  text-decoration: none;
}
.product-title {
  font-size: 15px;
  text-align: center;
  font-weight: 400;
  color: #000;
  margin-top: 0;
  padding-bottom: 5px;
}

.price-offer {
  font-size: 22px;
  font-weight: 500;
  color: rgb(11, 95, 3);
}
.discount {
  position: absolute;
  top: 70%;
  right: 7%;
  padding: 5px;
  background-color: rgb(57, 114, 4);
  color: white;
  font-weight: 600;
  border-radius: 10px;
}
.price {
  font-size: 22px;
  font-weight: 500;
  color: #000;
}

.last-price {
  font-size: 17px;
  font-weight: 300;
  color: rgb(165, 0, 8);
  text-decoration: line-through;
}

.offer {
  padding: 0px;
}

/*catalogo productos*/
.container-catalogue {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.container-products-catalogue {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
}

.pagination {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}
.selected-page {
  color: rgb(255, 255, 255);
  padding: 4px 9px;
  border-radius: 25px;
  background-color: rgb(190, 56, 3);
  margin: 0 5px;
  text-decoration: none;
}
.page {
  color: rgb(255, 255, 255);
  padding: 4px 9px;
  border-radius: 25px;
  background-color: rgba(223, 120, 3, 0.801);
  margin: 0 5px;
  text-decoration: none;
}
.button-pagination {
  margin: 0 5px;
  padding: 4px 9px;
  text-decoration: none;
  color: white;
  background-color: rgba(223, 120, 3, 0.801);
  border-radius: 15px;
}

.search-bar {
  width: 80%;
  margin-bottom: 20px;
}

.non-results {
  margin-bottom: 20px;
}

/* detail*/
.container-detail {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  padding: 10px;
  margin-top: 20px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 15px;
  background-color: rgba(219, 219, 219, 0.267);
  box-shadow: 0px 2px 8px #00000029;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detail-data {
  padding: 20px;
  width: 40%;
}

.detail-img {
  width: 60%;
}

.discount-detail{
  padding: 5px 10px;;
  background-color: rgba(15, 172, 23, 0.13);
  border-radius: 15px;
  width: 20%;
  font-weight: 700;
  
}
.offer-time-detail{
  font-style: italic;
}
.button-add-to-cart {
  padding: 8px 10px;
  background-color: #000000;
  border: none;
  border-radius: 10px;
  color: rgb(247, 174, 107);
  font-weight: 600;
  cursor: pointer;
}
.button-add-to-cart:hover {
  background-color: rgba(224, 108, 62, 0.726);
  color: white;
}

/*questions*/

.container-questions {
  display: flex;
  width: 70%;
  flex-direction: column;
  margin-top: 20px;
}

.container-question {
  padding: 10px;
  background-color: rgba(248, 248, 248, 0.863);
  border: 1px solid rgba(211, 211, 211, 0.712);
  border-radius: 15px;
  margin-bottom: 10px;
}

.question-data-span {
  font-weight: 700;
}

/*footer*/

footer {
  background-color: #000;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.text-footer {
  color: #f57702;
}

/*Form */

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 5px;
  width: 100%;
  padding: 8px;
  border: #797777 1px solid;
  border-radius: 5px;
  font-size: 16px;
}

.text-area-msg {
  width: 100%;
  margin-bottom: 10px;
}

textarea {
  height: 100px;
  width: 100%;
  border: #797777 1px solid;
  border-radius: 5px;
  font-family: "Mulish", sans-serif;
  font-size: 16px;
}

textarea ::placeholder {
  margin-top: 25px;
}
.container-bottom-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-email {
  width: 60%;
}

.button-submit {
  width: 35%;
  background-color: black;
  color: #f57702;
  cursor: pointer;
}

.button-submit:hover {
  background-color: #f0a45e;
  color: white;
}

.error {
  color: red;
}

/*Cart*/
.container-cart {
  display: flex;
  width: 400px;
  flex-direction: column;
}

/*ProductCart*/

.container-product-cart {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
  border: 1px solid rgb(218, 218, 218);
  border-radius: 15px;
  background-color: rgba(219, 219, 219, 0.267);
  box-shadow: 0px 2px 8px #00000029;
}

.product-cart-img {
  width: 50%;
}

.product-cart-img img {
  width: 100%;
  border-radius: 15px 0 0 15px;
}

.product-cart-data {
  width: 50%;
  margin-left: 20px;
}
.product-cart-title {
  margin-bottom: 10px;
}
.price-cart {
  font-size: 20px;
  color: #5a2e05;
  margin-bottom: 10px;
  margin-top: 0;
}

.delete-product {
  background-color: rgb(185, 7, 7);
  color: #fff;
  padding: 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 5px;
}

.delete-product:hover {
  background-color: rgb(88, 4, 4);
  color: rgb(250, 250, 250);
}

.button-buy {
  width: 100%;
  padding: 8px 10px;
  background-color: #000000;
  border: none;
  border-radius: 10px;
  color: rgb(247, 174, 107);
  font-weight: 600;
  cursor: pointer;
}
.button-buy:hover {
  background-color: rgba(224, 108, 62, 0.726);
  color: white;
}

@media screen and (max-width: 700px) {

  .container-detail {
    display: flex;
    flex-direction: column;
    width: 80%;
    
  }

  .detail-data {
    padding: 20px;
    width: 100%;
  }
  
  .detail-img {
    width: 100%;
  }
  

}


@media screen and (max-width: 550px) {

  .contenedor-nav {
    width: 100%;
  }
   
  
  .logo-top {
    width: 20%;
  }
  .logo-top img {
    width: 40px;
  }
 
  .contenedor-nav nav {
    width: 60%;
  }
  
  .contenedor-nav nav a {
    font-size: 14px;
    font-weight: 600;
  }
  
  .non-header {
    padding-top: 55px;
  }

}

@media screen and (max-width: 400px) {


  .pagination {
    width: 100%;
  }
  .selected-page {
    margin: 0 ;

  }
  .page {
    margin: 0 ;
   
  }
  .button-pagination {
    margin: 0 ;
  }

  .container-bottom-form {
    width: 100%;
    flex-direction: column;
  }
  
  .input-email {
    width: 95%;
    margin-bottom: 10px;
  }
  
  .button-submit {
    width: 100%;
  }

  .container-cart {
    width: 95%;
    flex-direction: column;
  }

  .product-cart-data {
    width: 50%;
    margin-left: 10px;
  }
  .product-cart-title {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .price-cart {
    font-size: 17px;
    margin-bottom: 5px;
    margin-top: 0;
  }
  
  .title-catalogue{
    text-align: center;
    font-size: 30px;
  }




}